<div style="display:grid;gap:var(--spacer-6)">
  <div class="paragraphs">
    <h2>Staff picks</h2>
    <div class="product-card-grid narrow">
      <%= render :partial => "products/partials/staff_picks" %>
    </div>
  </div>
</div>
