<div style="display:grid;gap:var(--spacer-6)">
  <h2>Your payment USD$<%= @price %> is received!</h2>
</div>
<script type="text/javascript">
    function delayedRedirect(){
        window.location.href = "/"
    }
    setTimeout('delayedRedirect()', 3000)
</script>